# Don't even try merging some XML files:
*.xib -merge
classes.nib -merge
designable.nib -merge
*.m diff=objc
*.mm diff=objc
*.icns filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.afdesign filter=lfs diff=lfs merge=lfs -text
